.jellyBeansPane {
    -fx-background-color: #cea;
}

.selectedResult {
    -fx-text-fill: #ddd;
}

.selectedResult:hover {
    -fx-background-color: #f0f0f0;
}

.selectedResult:selected {
    -fx-background-color: lightblue;
}

.notSelectedResult {
    -fx-text-fill: black;
}