.VERY_LOW {
    -fx-background-color: red;
    -fx-border-color: darkred;
    -fx-text-fill: white;
}

.LOW {
    -fx-background-color: orange;
    -fx-border-color: darkorange;
}

.MEDIUM {
    -fx-background-color: white;
    -fx-border-color: lightgray;
}

.HIGH {
    -fx-background-color: greenyellow;
    -fx-border-color: limegreen;
}

.VERY_HIGH {
    -fx-background-color: green;
    -fx-border-color: darkgreen;
}