/*    #5F7C8A; /* Darker3 */
/*    #7192A3; /* Darker2 */
/*    #83A9BD; /* Darker1 */

/*    #94C0D6; /* default pastel blue */

/*    #9DCCE3 /* Brighter1 */
/*    #A6D7F0 /* Brighter2 */
/*    #C0E8FF /* Brighter3 */

/*    #C28FCC /* Tetrade1 (purple) */
/*    #CCA38F /* Tetrade2 (orange) */
/*    #99CC8F /* Tetrade3 (green) */



.mainFrame {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    -fx-min-width: 20;
    -fx-min-height: 20;
}

.frameTitle {
	-fx-text-fill: #5F7C8A; /* Darker3 */
	-fx-font-size: 24;
	-fx-font-weight: bold;
}


.pane {
	-fx-background-color: #C0E8FF /* Brighter3 */
}
.top, .top *{
	-fx-background-color: #94C0D6 /* Default */
}
