.category_title {
    -fx-font-weight: bold;
}

.levelmark_transparent {
    -fx-background-color: #fff0;
}

.levelmark_line {
    -fx-background-color: #2f25;
}

.levelmark_arrow * {
    -fx-text-fill: #4cf;
}

.dragdroppane {
    -fx-background-color: #fff;
    -fx-opacity: 50%;
}

.hide_button {
    -fx-background-color: #0001;
}