.category-title {
    -fx-font-weight: bold;
    -fx-padding: 1px 10px 1px 10px;
}

.levelmark-line {
    -fx-background-color: #8FB8CC; /* default pastel blue */
    -fx-pref-width: 12px; /* blue bar will do (prefWidth-borderInsets)px */
    -fx-fit-to-height: true;
    -fx-border-insets: 0px 5px;
    -fx-background-insets: 0px 5px; /* equals to border insets */
}

.levelmark-arrow {
    -fx-alignment: center-right;
}
.levelmark-arrow * {
    -fx-text-fill: #8FB8CC; /* default pastel blue */
    -fx-width: 12px; /* equals to levelmark-line width */
    -fx-text-alignment: center;
}

.hide-button {
    -fx-background-color: #0001;
}

.parameter-root {
    -fx-vgap: 1px;
    -fx-hgap: 10px;
}
.parameter-root > * {
    -fx-alignment: center-left;
}
.parameter-root .text-field {
    -fx-border-insets: 0 0 0 1px; /* left 1px */
    -fx-background-insets: 0 0 0 1px;
}
.parameter-root > * {
    -fx-min-height: 24px;
}

.bad-input {
    -fx-text-fill: red;
}

.parameter-line {
    -fx-hgap: 15px;
}
.my-node {
    /*-fx-padding: 0 15px 0 0;*/
}