.category-title {
    -fx-font-weight: bold;
    -fx-padding: 1px 10px 1px 10px;
}

.levelmark-line {
    -fx-background-color: #8FB8CC; /* default pastel blue */
    -fx-pref-width: 12px; /* blue bar will do (prefWidth-borderInsets)px */
    -fx-fit-to-height: true;
    -fx-border-insets: 0px 5px;
    -fx-background-insets: 0px 5px; /* equals to border insets */
}

.levelmark-arrow {
    -fx-alignment: center-right;
}
.levelmark-arrow * {
    -fx-text-fill: #8FB8CC; /* default pastel blue */
    -fx-width: 12px; /* equals to levelmark-line width */
    -fx-text-alignment: center;
}

.hide-button {
    -fx-background-color: #0001;
}

/* Set some gap between rows and columns */
.parameter-root {
    -fx-vgap: 1px;
    -fx-hgap: 1px;
}

/* Align component in grid */
.parameter-root > * {
    -fx-alignment: center-left;
}

/* Align text-fields with RangedParameters JellyBean panes */
.parameter-root .text-field {
    -fx-border-insets: 0 0 0 2px; /* left 1px */
    -fx-background-insets: 0 0 0 2px;
}
.parameter-root > * {
    -fx-min-height: 24px;
}
.parameter-root .check-box {
    -fx-padding: 0 -5px 0 0;
}

.bad-input {
    -fx-text-fill: red;
}

.param-panetitle {
    -fx-padding: 0 50px 0 0;
}
.param-separator {
    -fx-padding: 0 70px 0 0;
}
.param-value {
    -fx-padding: 0 40px 0 0;
}