.category_title {
    -fx-font-weight: bold;
}

.levelmark_transparent {
    -fx-background-color: transparent;
}

.levelmark_line {
    -fx-background-color: #99CC8F; /* Tetrade3 (green) */
}

.levelmark_arrow * {
    -fx-text-fill: #CCA38F; /* Tetrade2 (orange) */;
}

.dragdroppane {
    -fx-background-color: white;
    -fx-opacity: 50%;
}

.hide_button {
    -fx-background-color: #0001;
}